{% extends "base/base.html" %}
{% block content %}
<div class="container">
  <h1>Chart Page</h1>

  <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <a href="{% url 'chart_create_view' %}" style="text-decoration: none; color:black;"><div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body" style="text-align: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
            <hr>
          <h2>New Chart</h2>
          <p style="font-size: 13px;">Create your Chart and track your data here</p>
          <br>
        </div>
      </a>
          
        </div>

      </div>

    {% for chart in page_obj %}

    

    <div class="col">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body" style="text-align: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
              </svg>
              <hr>
              <h2>{{chart.chart_name}}</h2>
              <p class="card-text">{{chart.description|slice:'25'}}</p>
            <a href="{% url 'chart_detail_view' chart.id %}" class="btn btn-primary">Veiw</a>
          </div>
        </div>
      </div>


    {% endfor %}
</div>
    <div class="text-center" >
      <span class="step-links">
              {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}" class="btn  btn-block btn-primary" >Previous</a>
              {% endif %}
      
              
      
              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}" class="btn  btn-block btn-primary">Next</a>
              {% endif %}
      </span>
      <br>
      <br>
  </div>






</div>
{% endblock %}