{% extends 'base/base.html' %}
{% block content %}

<div class="container">
    <div class="blog">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="header" style="padding-left: -5px;">
                {{form.title}}
                <br>
            </div>
            <div>
                {{form.media}}
                {{form.content}}
            </div>
            <br>
            
            <div >
                <h5>Private Post  {{form.private}} </h5>
            </div>
            <br>
            <button class="btn" style="color: white; background-color: #202020;">Update</button>
            
        </form>
    </div>
</div>

{% endblock %}